.container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1199px) {
  .container {
    max-width: 1199px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1440px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

body {
  font-family: "Circe Extra Light";
  background-color: #090909;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
}

.books-list__item {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
}

@media screen and (max-width: 1199px) {
  .page-start-wrapper {
    position: relative;
    height: 665px;
    z-index: 1;
    pointer-events: none;
  }
  .logotype {
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-top: 30px;
  }
  .logotype__logo-svg {
    width: 56px;
    height: 58px;
  }
  .logotype__logo-text-svg {
    width: 107px;
    height: 38px;
  }
}
.main-hdr-wrapper {
  position: fixed;
}

.start-hdr {
  margin-top: 215px;
  color: #f7f7f7;
  font-size: 50px;
  font-style: normal;
  font-weight: 100;
  line-height: 55px;
  letter-spacing: -1px;
  text-transform: uppercase;
}
.start-hdr__decor {
  font-family: "Circe";
}

@media screen and (max-width: 1199px) {
  .books-list {
    position: relative;
    height: 1791px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .books-list__item > a > img {
    width: 140px;
    height: 213px;
  }
  .book-1-appear {
    position: absolute;
    -webkit-animation: bookOneAppear forwards 1.5s;
            animation: bookOneAppear forwards 1.5s;
  }
  @-webkit-keyframes bookOneAppear {
    from {
      opacity: 0;
      top: 0;
      right: -60%;
    }
    to {
      opacity: 1;
      top: 0;
      right: 0;
    }
  }
  @keyframes bookOneAppear {
    from {
      opacity: 0;
      top: 0;
      right: -60%;
    }
    to {
      opacity: 1;
      top: 0;
      right: 0;
    }
  }
  .book-1-dissapear {
    position: absolute;
    -webkit-animation: bookOneDissapear forwards 1.5s;
            animation: bookOneDissapear forwards 1.5s;
  }
  @-webkit-keyframes bookOneDissapear {
    from {
      opacity: 1;
      top: 0;
      right: 0;
    }
    to {
      opacity: 0;
      top: 0;
      right: -60%;
    }
  }
  @keyframes bookOneDissapear {
    from {
      opacity: 1;
      top: 0;
      right: 0;
    }
    to {
      opacity: 0;
      top: 0;
      right: -60%;
    }
  }
  .book-2-appear {
    position: absolute;
    -webkit-animation: bookTwoAppear forwards 1.5s;
            animation: bookTwoAppear forwards 1.5s;
  }
  @-webkit-keyframes bookTwoAppear {
    from {
      opacity: 0;
      top: 273px;
      left: -60%;
    }
    to {
      opacity: 1;
      top: 273px;
      left: 0;
    }
  }
  @keyframes bookTwoAppear {
    from {
      opacity: 0;
      top: 273px;
      left: -60%;
    }
    to {
      opacity: 1;
      top: 273px;
      left: 0;
    }
  }
  .book-2-dissapear {
    position: absolute;
    -webkit-animation: bookTwoDissapear forwards 1.5s;
            animation: bookTwoDissapear forwards 1.5s;
  }
  @-webkit-keyframes bookTwoDissapear {
    from {
      opacity: 1;
      top: 273px;
      left: 0;
    }
    to {
      opacity: 0;
      top: 273px;
      left: -60%;
    }
  }
  @keyframes bookTwoDissapear {
    from {
      opacity: 1;
      top: 273px;
      left: 0;
    }
    to {
      opacity: 0;
      top: 273px;
      left: -60%;
    }
  }
  .book-3-appear {
    position: absolute;
    -webkit-animation: bookThreeAppear forwards 1.5s;
            animation: bookThreeAppear forwards 1.5s;
  }
  @-webkit-keyframes bookThreeAppear {
    from {
      opacity: 0;
      top: 546px;
      right: -60%;
    }
    to {
      opacity: 1;
      top: 546px;
      right: 0;
    }
  }
  @keyframes bookThreeAppear {
    from {
      opacity: 0;
      top: 546px;
      right: -60%;
    }
    to {
      opacity: 1;
      top: 546px;
      right: 0;
    }
  }
  .book-3-dissapear {
    position: absolute;
    -webkit-animation: bookThreeDissapear forwards 1.5s;
            animation: bookThreeDissapear forwards 1.5s;
  }
  @-webkit-keyframes bookThreeDissapear {
    from {
      opacity: 1;
      top: 546px;
      right: 0;
    }
    to {
      opacity: 0;
      top: 546px;
      right: -60%;
    }
  }
  @keyframes bookThreeDissapear {
    from {
      opacity: 1;
      top: 546px;
      right: 0;
    }
    to {
      opacity: 0;
      top: 546px;
      right: -60%;
    }
  }
  .book-4-appear {
    position: absolute;
    -webkit-animation: bookFourAppear forwards 1.5s;
            animation: bookFourAppear forwards 1.5s;
  }
  @-webkit-keyframes bookFourAppear {
    from {
      opacity: 0;
      top: 819px;
      left: -60%;
    }
    to {
      opacity: 1;
      top: 819px;
      left: 35px;
    }
  }
  @keyframes bookFourAppear {
    from {
      opacity: 0;
      top: 819px;
      left: -60%;
    }
    to {
      opacity: 1;
      top: 819px;
      left: 35px;
    }
  }
  .book-4-dissapear {
    position: absolute;
    -webkit-animation: bookFourDissapear forwards 1.5s;
            animation: bookFourDissapear forwards 1.5s;
  }
  @-webkit-keyframes bookFourDissapear {
    from {
      opacity: 1;
      top: 819px;
      left: 35px;
    }
    to {
      opacity: 0;
      top: 819px;
      left: -60%;
    }
  }
  @keyframes bookFourDissapear {
    from {
      opacity: 1;
      top: 819px;
      left: 35px;
    }
    to {
      opacity: 0;
      top: 819px;
      left: -60%;
    }
  }
  .book-5-appear {
    position: absolute;
    -webkit-animation: bookFiveAppear forwards 1.5s;
            animation: bookFiveAppear forwards 1.5s;
  }
  @-webkit-keyframes bookFiveAppear {
    from {
      opacity: 0;
      top: 1092px;
      right: -60%;
    }
    to {
      opacity: 1;
      top: 1092px;
      right: 87px;
    }
  }
  @keyframes bookFiveAppear {
    from {
      opacity: 0;
      top: 1092px;
      right: -60%;
    }
    to {
      opacity: 1;
      top: 1092px;
      right: 87px;
    }
  }
  .book-5-dissapear {
    position: absolute;
    -webkit-animation: bookFiveDissapear forwards 1.5s;
            animation: bookFiveDissapear forwards 1.5s;
  }
  @-webkit-keyframes bookFiveDissapear {
    from {
      opacity: 1;
      top: 1092px;
      right: 87px;
    }
    to {
      opacity: 0;
      top: 1092px;
      right: -60%;
    }
  }
  @keyframes bookFiveDissapear {
    from {
      opacity: 1;
      top: 1092px;
      right: 87px;
    }
    to {
      opacity: 0;
      top: 1092px;
      right: -60%;
    }
  }
  .book-6-appear {
    position: absolute;
    -webkit-animation: bookSixAppear forwards 1.5s;
            animation: bookSixAppear forwards 1.5s;
  }
  @-webkit-keyframes bookSixAppear {
    from {
      opacity: 0;
      top: 1365px;
      left: -60%;
    }
    to {
      opacity: 1;
      top: 1365px;
      left: 0;
    }
  }
  @keyframes bookSixAppear {
    from {
      opacity: 0;
      top: 1365px;
      left: -60%;
    }
    to {
      opacity: 1;
      top: 1365px;
      left: 0;
    }
  }
  .book-6-dissapear {
    position: absolute;
    -webkit-animation: bookSixDissapear forwards 1.5s;
            animation: bookSixDissapear forwards 1.5s;
  }
  @-webkit-keyframes bookSixDissapear {
    from {
      opacity: 1;
      top: 1365px;
      left: 0;
    }
    to {
      opacity: 0;
      top: 1365px;
      left: -60%;
    }
  }
  @keyframes bookSixDissapear {
    from {
      opacity: 1;
      top: 1365px;
      left: 0;
    }
    to {
      opacity: 0;
      top: 1365px;
      left: -60%;
    }
  }
  .book-7-appear {
    position: absolute;
    -webkit-animation: bookSevenAppear forwards 1.5s;
            animation: bookSevenAppear forwards 1.5s;
  }
  @-webkit-keyframes bookSevenAppear {
    from {
      opacity: 0;
      top: 1578px;
      right: -60%;
    }
    to {
      opacity: 1;
      top: 1578px;
      right: 0;
    }
  }
  @keyframes bookSevenAppear {
    from {
      opacity: 0;
      top: 1578px;
      right: -60%;
    }
    to {
      opacity: 1;
      top: 1578px;
      right: 0;
    }
  }
  .book-7-dissapear {
    position: absolute;
    -webkit-animation: bookSevenDissapear forwards 1.5s;
            animation: bookSevenDissapear forwards 1.5s;
  }
  @-webkit-keyframes bookSevenDissapear {
    from {
      opacity: 1;
      top: 1578px;
      right: 0;
    }
    to {
      opacity: 0;
      top: 1578px;
      right: -60%;
    }
  }
  @keyframes bookSevenDissapear {
    from {
      opacity: 1;
      top: 1578px;
      right: 0;
    }
    to {
      opacity: 0;
      top: 1578px;
      right: -60%;
    }
  }
}
@media screen and (max-width: 1199px) {
  .page-final {
    padding: 120px 0;
  }
  .final-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
  .final-wrapper__header {
    color: #ffffff;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    letter-spacing: -1px;
    text-transform: uppercase;
  }
  .final-wrapper__header-decor {
    font-family: "Circe";
  }
  .final-wrapper__text {
    color: #f7f7f7;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    white-space: normal;
  }
  .final-wrapper__button-svg {
    width: 280px;
    height: 66px;
  }
  .final-text-appear {
    -webkit-animation: finalTextAppear 2s ease forwards;
            animation: finalTextAppear 2s ease forwards;
  }
  .final-text-appear > p:nth-child(5) {
    -webkit-animation: finalTextAppear 2.5s ease forwards;
            animation: finalTextAppear 2.5s ease forwards;
  }
  @-webkit-keyframes finalTextAppear {
    from {
      opacity: 0;
      -webkit-transform: translateY(20%);
              transform: translateY(20%);
    }
    to {
      opacity: 1;
    }
  }
  @keyframes finalTextAppear {
    from {
      opacity: 0;
      -webkit-transform: translateY(20%);
              transform: translateY(20%);
    }
    to {
      opacity: 1;
    }
  }
}
@media screen and (max-width: 1199px) {
  .wheel-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    bottom: 60px;
    left: 50%;
  }
  .wheel-text {
    position: absolute;
  }
  .wheel-text__svg {
    width: 74px;
    height: 74px;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .wheel-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 38px;
    fill: none;
    overflow: hidden;
    border-radius: 50%;
  }
  .wheel-circle__svg {
    width: 38px;
    height: 38px;
  }
  .wheel-circle__fill-div {
    width: 37px;
    height: 1px;
    position: absolute;
    top: 1%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: grey;
    z-index: -1;
  }
  .wheel-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .wheel-arrow__svg {
    width: 7px;
    height: 7px;
  }
}
@media screen and (min-width: 1200px) {
  .page-start-wrapper {
    position: relative;
    height: 768px;
    z-index: 1;
    pointer-events: none;
  }
  .logotype {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-top: 40px;
  }
  .logo-hide {
    -webkit-animation: logoHide 0.3s ease forwards;
            animation: logoHide 0.3s ease forwards;
  }
  @-webkit-keyframes logoHide {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes logoHide {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .logo-appear {
    -webkit-animation: logoAppear 0.3s ease forwards;
            animation: logoAppear 0.3s ease forwards;
  }
  @-webkit-keyframes logoAppear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes logoAppear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .main-hdr-wrapper {
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .start-hdr {
    margin-top: 293px;
    color: #f7f7f7;
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight: 100;
    line-height: 80px;
    letter-spacing: -1.6px;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .start-hdr__decor {
    font-family: "Circe";
  }
  .start-hdr__left-slide {
    -webkit-animation: slideLeft 1s ease forwards;
            animation: slideLeft 1s ease forwards;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    opacity: 0;
  }
  @-webkit-keyframes slideLeft {
    from {
      margin-left: -30%;
    }
    to {
      margin-left: 0%;
      opacity: 1;
    }
  }
  @keyframes slideLeft {
    from {
      margin-left: -30%;
    }
    to {
      margin-left: 0%;
      opacity: 1;
    }
  }
  .start-hdr__right-slide {
    -webkit-animation: slideRight 1s ease forwards;
            animation: slideRight 1s ease forwards;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    opacity: 0;
  }
  @-webkit-keyframes slideRight {
    from {
      margin-right: -30%;
    }
    to {
      margin-right: 0%;
      opacity: 1;
    }
  }
  @keyframes slideRight {
    from {
      margin-right: -30%;
    }
    to {
      margin-right: 0%;
      opacity: 1;
    }
  }
}
@media screen and (min-width: 1200px) {
  .books-list {
    position: relative;
    height: 1935px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .books-list__item {
    visibility: hidden;
  }
  .book-1-appear {
    position: absolute;
    -webkit-animation: bookOneAppear forwards 2s;
            animation: bookOneAppear forwards 2s;
  }
  @-webkit-keyframes bookOneAppear {
    0% {
      top: 20%;
      right: -30%;
    }
    1% {
      visibility: unset;
    }
    50% {
      top: -40px;
      right: 415px;
      visibility: unset;
    }
    100% {
      top: 0;
      right: 315px;
      visibility: unset;
    }
  }
  @keyframes bookOneAppear {
    0% {
      top: 20%;
      right: -30%;
    }
    1% {
      visibility: unset;
    }
    50% {
      top: -40px;
      right: 415px;
      visibility: unset;
    }
    100% {
      top: 0;
      right: 315px;
      visibility: unset;
    }
  }
  .book-1-dissapear {
    position: absolute;
    -webkit-animation: bookOneDissapear forwards 2s;
            animation: bookOneDissapear forwards 2s;
    visibility: hidden;
  }
  @-webkit-keyframes bookOneDissapear {
    0% {
      top: 0;
      right: 315px;
      visibility: unset;
    }
    50% {
      top: -40px;
      right: 415px;
      visibility: unset;
    }
    100% {
      top: 20%;
      right: -30%;
    }
  }
  @keyframes bookOneDissapear {
    0% {
      top: 0;
      right: 315px;
      visibility: unset;
    }
    50% {
      top: -40px;
      right: 415px;
      visibility: unset;
    }
    100% {
      top: 20%;
      right: -30%;
    }
  }
  .book-2-appear {
    position: absolute;
    -webkit-animation: bookTwoAppear forwards 2.5s;
            animation: bookTwoAppear forwards 2.5s;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  @-webkit-keyframes bookTwoAppear {
    0% {
      top: 30%;
      left: -30%;
    }
    1% {
      visibility: unset;
    }
    50% {
      top: 100px;
      left: 120px;
      visibility: unset;
    }
    100% {
      top: 120px;
      left: 80px;
      visibility: unset;
    }
  }
  @keyframes bookTwoAppear {
    0% {
      top: 30%;
      left: -30%;
    }
    1% {
      visibility: unset;
    }
    50% {
      top: 100px;
      left: 120px;
      visibility: unset;
    }
    100% {
      top: 120px;
      left: 80px;
      visibility: unset;
    }
  }
  .book-2-dissapear {
    position: absolute;
    -webkit-animation: bookTwoDissapear forwards 2.5s;
            animation: bookTwoDissapear forwards 2.5s;
  }
  @-webkit-keyframes bookTwoDissapear {
    0% {
      top: 120px;
      left: 80px;
      visibility: unset;
    }
    50% {
      top: 100px;
      left: 120px;
      visibility: unset;
    }
    100% {
      top: 30%;
      left: -30%;
    }
  }
  @keyframes bookTwoDissapear {
    0% {
      top: 120px;
      left: 80px;
      visibility: unset;
    }
    50% {
      top: 100px;
      left: 120px;
      visibility: unset;
    }
    100% {
      top: 30%;
      left: -30%;
    }
  }
  .book-3-appear {
    position: absolute;
    -webkit-animation: bookThreeAppear forwards 3s;
            animation: bookThreeAppear forwards 3s;
  }
  @-webkit-keyframes bookThreeAppear {
    0% {
      top: 80%;
    }
    1% {
      visibility: unset;
    }
    30% {
      top: 1200px;
      left: 450px;
      visibility: unset;
    }
    60% {
      top: 500px;
      left: 220px;
      visibility: unset;
    }
    100% {
      top: 605px;
      left: 320px;
      visibility: unset;
    }
  }
  @keyframes bookThreeAppear {
    0% {
      top: 80%;
    }
    1% {
      visibility: unset;
    }
    30% {
      top: 1200px;
      left: 450px;
      visibility: unset;
    }
    60% {
      top: 500px;
      left: 220px;
      visibility: unset;
    }
    100% {
      top: 605px;
      left: 320px;
      visibility: unset;
    }
  }
  .book-3-dissapear {
    position: absolute;
    -webkit-animation: bookThreeDissapear forwards 3s;
            animation: bookThreeDissapear forwards 3s;
  }
  @-webkit-keyframes bookThreeDissapear {
    0% {
      top: 605px;
      left: 320px;
      visibility: unset;
    }
    30% {
      top: 500px;
      left: 220px;
      visibility: unset;
    }
    60% {
      top: 1200px;
      left: 450px;
      visibility: unset;
    }
    100% {
      top: 80%;
    }
  }
  @keyframes bookThreeDissapear {
    0% {
      top: 605px;
      left: 320px;
      visibility: unset;
    }
    30% {
      top: 500px;
      left: 220px;
      visibility: unset;
    }
    60% {
      top: 1200px;
      left: 450px;
      visibility: unset;
    }
    100% {
      top: 80%;
    }
  }
  .book-4-appear {
    position: absolute;
    -webkit-animation: bookFourAppear forwards 3s;
            animation: bookFourAppear forwards 3s;
  }
  @-webkit-keyframes bookFourAppear {
    0% {
      top: 80%;
    }
    1% {
      visibility: unset;
    }
    30% {
      top: 1200px;
      right: 450px;
      visibility: unset;
    }
    60% {
      top: 500px;
      right: -20px;
      visibility: unset;
    }
    100% {
      top: 600px;
      right: 80px;
      visibility: unset;
    }
  }
  @keyframes bookFourAppear {
    0% {
      top: 80%;
    }
    1% {
      visibility: unset;
    }
    30% {
      top: 1200px;
      right: 450px;
      visibility: unset;
    }
    60% {
      top: 500px;
      right: -20px;
      visibility: unset;
    }
    100% {
      top: 600px;
      right: 80px;
      visibility: unset;
    }
  }
  .book-4-dissapear {
    position: absolute;
    -webkit-animation: bookFourDissapear forwards 3s;
            animation: bookFourDissapear forwards 3s;
  }
  @-webkit-keyframes bookFourDissapear {
    0% {
      top: 600px;
      right: 80px;
      visibility: unset;
    }
    30% {
      top: 500px;
      right: -20px;
      visibility: unset;
    }
    60% {
      top: 1200px;
      right: 450px;
      visibility: unset;
    }
    100% {
      top: 80%;
    }
  }
  @keyframes bookFourDissapear {
    0% {
      top: 600px;
      right: 80px;
      visibility: unset;
    }
    30% {
      top: 500px;
      right: -20px;
      visibility: unset;
    }
    60% {
      top: 1200px;
      right: 450px;
      visibility: unset;
    }
    100% {
      top: 80%;
    }
  }
  .book-5-appear {
    position: absolute;
    -webkit-animation: bookFiveAppear forwards 2.5s;
            animation: bookFiveAppear forwards 2.5s;
  }
  @-webkit-keyframes bookFiveAppear {
    0% {
      top: 180%;
      right: -30%;
    }
    1% {
      visibility: unset;
    }
    50% {
      top: 900px;
      right: 460px;
      visibility: unset;
    }
    100% {
      top: 965px;
      right: 440px;
      visibility: unset;
    }
  }
  @keyframes bookFiveAppear {
    0% {
      top: 180%;
      right: -30%;
    }
    1% {
      visibility: unset;
    }
    50% {
      top: 900px;
      right: 460px;
      visibility: unset;
    }
    100% {
      top: 965px;
      right: 440px;
      visibility: unset;
    }
  }
  .book-5-dissapear {
    position: absolute;
    -webkit-animation: bookFiveDissapear forwards 2.5s;
            animation: bookFiveDissapear forwards 2.5s;
  }
  @-webkit-keyframes bookFiveDissapear {
    0% {
      top: 965px;
      right: 440px;
      visibility: unset;
    }
    50% {
      top: 900px;
      right: 460px;
      visibility: unset;
    }
    100% {
      top: 180%;
      right: -30%;
    }
  }
  @keyframes bookFiveDissapear {
    0% {
      top: 965px;
      right: 440px;
      visibility: unset;
    }
    50% {
      top: 900px;
      right: 460px;
      visibility: unset;
    }
    100% {
      top: 180%;
      right: -30%;
    }
  }
  .book-6-appear {
    position: absolute;
    -webkit-animation: bookSixAppear forwards 3s;
            animation: bookSixAppear forwards 3s;
  }
  @-webkit-keyframes bookSixAppear {
    0% {
      bottom: 0;
      left: -30%;
    }
    1% {
      visibility: unset;
    }
    50% {
      bottom: 340px;
      left: 300px;
      visibility: unset;
    }
    100% {
      bottom: 240px;
      left: 200px;
      visibility: unset;
    }
  }
  @keyframes bookSixAppear {
    0% {
      bottom: 0;
      left: -30%;
    }
    1% {
      visibility: unset;
    }
    50% {
      bottom: 340px;
      left: 300px;
      visibility: unset;
    }
    100% {
      bottom: 240px;
      left: 200px;
      visibility: unset;
    }
  }
  .book-6-dissapear {
    position: absolute;
    -webkit-animation: bookSixDissapear forwards 2.5s;
            animation: bookSixDissapear forwards 2.5s;
  }
  @-webkit-keyframes bookSixDissapear {
    0% {
      bottom: 240px;
      left: 200px;
      visibility: unset;
    }
    50% {
      bottom: 340px;
      left: 300px;
      visibility: unset;
    }
    100% {
      bottom: 0;
      left: -30%;
    }
  }
  @keyframes bookSixDissapear {
    0% {
      bottom: 240px;
      left: 200px;
      visibility: unset;
    }
    50% {
      bottom: 340px;
      left: 300px;
      visibility: unset;
    }
    100% {
      bottom: 0;
      left: -30%;
    }
  }
  .book-7-appear {
    position: absolute;
    -webkit-animation: bookSevenAppear forwards 3s;
            animation: bookSevenAppear forwards 3s;
  }
  @-webkit-keyframes bookSevenAppear {
    0% {
      bottom: 200px;
      right: -30%;
    }
    1% {
      visibility: unset;
    }
    50% {
      bottom: 100px;
      right: 420px;
      visibility: unset;
    }
    100% {
      bottom: 0;
      right: 320px;
      visibility: unset;
    }
  }
  @keyframes bookSevenAppear {
    0% {
      bottom: 200px;
      right: -30%;
    }
    1% {
      visibility: unset;
    }
    50% {
      bottom: 100px;
      right: 420px;
      visibility: unset;
    }
    100% {
      bottom: 0;
      right: 320px;
      visibility: unset;
    }
  }
  .book-7-dissapear {
    position: absolute;
    -webkit-animation: bookSevenDissapear forwards 3s;
            animation: bookSevenDissapear forwards 3s;
  }
  @-webkit-keyframes bookSevenDissapear {
    0% {
      bottom: 0;
      right: 320px;
      visibility: unset;
    }
    50% {
      bottom: 100px;
      right: 420px;
      visibility: unset;
    }
    100% {
      bottom: 200px;
      right: -30%;
    }
  }
  @keyframes bookSevenDissapear {
    0% {
      bottom: 0;
      right: 320px;
      visibility: unset;
    }
    50% {
      bottom: 100px;
      right: 420px;
      visibility: unset;
    }
    100% {
      bottom: 200px;
      right: -30%;
    }
  }
}
@media screen and (min-width: 1200px) {
  .page-final {
    padding: 130px 0;
  }
  .final-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 60px;
  }
  .final-wrapper__header {
    color: #f7f7f7;
    text-align: center;
    font-size: 80px;
    font-style: normal;
    font-weight: 100;
    line-height: 80px;
    letter-spacing: -1.6px;
    text-transform: uppercase;
    white-space: nowrap;
  }
  .final-wrapper__header-decor {
    font-family: "Circe";
  }
  .final-wrapper__text {
    color: #f7f7f7;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
  .final-wrapper__button {
    cursor: pointer;
  }
  .final-wrapper__button-svg {
    width: 289px;
    height: 66px;
  }
  .final-text-appear {
    -webkit-animation: finalTextAppear 2s ease forwards;
            animation: finalTextAppear 2s ease forwards;
  }
  .final-text-appear > p:nth-child(5) {
    -webkit-animation: finalTextAppear 2.5s ease forwards;
            animation: finalTextAppear 2.5s ease forwards;
  }
  @-webkit-keyframes finalTextAppear {
    from {
      opacity: 0;
      -webkit-transform: translateY(20%);
              transform: translateY(20%);
    }
    to {
      opacity: 1;
    }
  }
  @keyframes finalTextAppear {
    from {
      opacity: 0;
      -webkit-transform: translateY(20%);
              transform: translateY(20%);
    }
    to {
      opacity: 1;
    }
  }
}
@media screen and (min-width: 1200px) {
  .wheel-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    bottom: 80px;
    right: 80px;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  }
  .wheel-wrapper:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .wheel-text {
    position: absolute;
  }
  .wheel-text__svg {
    width: 110px;
    height: 110px;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .wheel-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 57px;
    fill: none;
    overflow: hidden;
    border-radius: 50%;
  }
  .wheel-circle__svg {
    width: 57px;
    height: 57px;
  }
  .wheel-circle__fill-div {
    position: absolute;
    z-index: -1;
    top: 0%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 70px;
    height: 1px;
    background-color: grey;
  }
  .wheel-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .wheel-arrow__svg {
    width: 10px;
    height: 10px;
  }
}/*# sourceMappingURL=main.css.map */