@media screen and (max-width: 1199px) {
  .wheel-wrapper {
    display: flex;

    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 60px;
    left: 50%;
  }

  .wheel-text {
    position: absolute;

    &__svg {
      width: 74px;
      height: 74px;

      transition: transform 0.2s ease-out;
      transform-origin: center;
    }
  }

  .wheel-circle {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 38px;

    fill: none;
    overflow: hidden;
    border-radius: 50%;

    &__svg {
      width: 38px;
      height: 38px;
    }

    &__fill-div {
      width: 37px;
      height: 1px;

      position: absolute;

      top: 1%;
      left: 50%;
      transform: translate(-50%, -50%);

      background-color: grey;
      z-index: -1;
    }
  }

  .wheel-arrow {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__svg {
      width: 7px;
      height: 7px;
    }
  }
}
